<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

        <!--<div>
            <input type="search" ng-model="search">
        </div>-->

       <!-- <div ng-controller="View2Ctrl">-->
            <h3>{{heading}}</h3>
            <!--<ul>
                <li ng-repeat="name in names" >
                    {{name}}
                    &lt;!&ndash;{{person.name}} : {{person.age}}&ndash;&gt;
                </li>
            </ul>-->
        </div>

       <!-- <script>
            var List = function($scope) {
                $scope.names = ["Lawson", "Josephine", "Appolonia", "Martha", "Margaret"];/*[
                    {name: "Lawson", age: 57},
                    {name: "Josephine", age: 54},
                    {name: "Appolonia", age: 29},
                    {name: "Martha", age: 23},
                    {name: "Margaret", age: 23}
                ];*/
            };
        </script>-->
