            

    <html>
                <header>
                <p align="top-left"><a href="#/home"><img src="img/Ashesi.jpg" title="ASHEVAL" class="image-thumbnail" class="img-responsive" alt="Responsive image"></a></p>

                 <script>
      function myFunction() {
        var a = document.getElementById("scores1").value;
        var b = document.getElementById("scores2").value;
        var c = document.getElementById("scores3").value;
        var d = document.getElementById("scores4").value;
        var e = document.getElementById("scores5").value;
        var f = document.getElementById("scores6").value;

        var x = +a + +b + +c + +d + +e + +f;
        document.getElementById("average").value= x;
      }
    </script>


                </header>
                <hr>
                <br><br>

            <div class="container-fluid">
                <div class="row">
                   

            <div class="col-md-8">

                <!-- Main hero unit for a primary marketing message or call to action -->
                <div class="row hero-unit">
                    <p><h1>EVALUATION FORM : PLEASE FILL</h1></p>
                </div>
                <br>
                    <p><i>Project Presentations Grading – Quantitative Methods – Fall Semester 2014</i></p>
                    <form  action ="toDB.php" >

                        <div class="control-group">
                            <label class="control-label" id="category">Group Presenting:</label>
                           <input type="text" class="form-control" ng-model="log.group_name" id="group_name">
                        </div><br><br>

                         <div class="control-group">
                            <label class="control-label" id="category">Assesor:</label>
                           <input type="text" class="form-control" id="student_name" ng-model="log.student_name">
                        </div><br><br>

                         <div class="control-group">
                            <label class="control-label" id="category">Date:</label>
                           <input type="date" class="form-control" id="date" ng-model="log.date">
                        </div><br><br>


                        <div class="control-group">
                            <label class="control-label" id="locationCat">Consistent, professional look: branding</label>
                            <div class="controls">
                                <select class="form-control" id="scores1" name="branding" onclick ="myFunction()" ng-model = "log.scores1" required>
                                    <option VALUE ="1">1</option>
                                    <option VALUE="2">2</option>
                                    <option VALUE="3">3</option>
                                    <option VALUE="4">4</option>
                                    <option VALUE="5">5</option>
                                    <option VALUE="6">6</option>
                                    <option VALUE="6">7</option>
                                    <option VALUE="8">8</option>
                                    <option VALUE="9">9</option>
                                    <option VALUE="10">10</option>
                                </select>
                                <span class="error" ng-show="thisForm.location.$error.required">*</span>
                            </div>
                        </div><br><br>


                         <div class="control-group">
                            <label class="control-label" id="locationCat">Clear Understanding of Problem</label>
                            <div class="controls">
                                <select class="form-control" id="scores2" onclick ="myFunction()" name="branding" ng-model = "log.scores2" required>
                                   <option VALUE ="1">1</option>
                                    <option VALUE="2">2</option>
                                    <option VALUE="3">3</option>
                                    <option VALUE="4">4</option>
                                    <option VALUE="5">5</option>
                                    <option VALUE="6">6</option>
                                    <option VALUE="6">7</option>
                                    <option VALUE="8">8</option>
                                    <option VALUE="9">9</option>
                                    <option VALUE="10">10</option>
                                </select>
                                <span class="error" ng-show="thisForm.location.$error.required">*</span>
                            </div>
                        </div><br><br>

                         <div class="control-group">
                            <label class="control-label" id="locationCat">Appropriate Model and Methods</label>
                            <div class="controls">
                                <select class="form-control" id="scores3" onclick ="myFunction()" name="model" ng-model = "log.scores3" required>
                                   <option VALUE ="1">1</option>
                                    <option VALUE="2">2</option>
                                    <option VALUE="3">3</option>
                                    <option VALUE="4">4</option>
                                    <option VALUE="5">5</option>
                                    <option VALUE="6">6</option>
                                    <option VALUE="6">7</option>
                                    <option VALUE="8">8</option>
                                    <option VALUE="9">9</option>
                                    <option VALUE="10">10</option>
                                </select>
                                <span class="error" ng-show="thisForm.location.$error.required">*</span>
                            </div>
                        </div><br><br>


                         <div class="control-group">
                            <label class="control-label" id="locationCat">Presentation of Results/Sensitivity/Limits/Discussion</label>
                            <div class="controls">
                                <select class="form-control" id="scores4" onclick ="myFunction()" name="result" ng-model = "log.scores4" required>
                                   <option VALUE ="1">1</option>
                                    <option VALUE="2">2</option>
                                    <option VALUE="3">3</option>
                                    <option VALUE="4">4</option>
                                    <option VALUE="5">5</option>
                                    <option VALUE="6">6</option>
                                    <option VALUE="6">7</option>
                                    <option VALUE="8">8</option>
                                    <option VALUE="9">9</option>
                                    <option VALUE="10">10</option>
                                </select>
                                <span class="error" ng-show="thisForm.location.$error.required">*</span>
                            </div>
                        </div><br><br>


                         <div class="control-group">
                            <label class="control-label" id="locationCat">Kept to Time, distributed the presentation among team</label>
                            <div class="controls">
                                <select class="form-control" id="scores5" onclick ="myFunction()" ng-model = "log.scores5" name ="time" required>
                                   <option VALUE ="1">1</option>
                                    <option VALUE="2">2</option>
                                    <option VALUE="3">3</option>
                                    <option VALUE="4">4</option>
                                    <option VALUE="5">5</option>
                                    <option VALUE="6">6</option>
                                    <option VALUE="6">7</option>
                                    <option VALUE="8">8</option>
                                    <option VALUE="9">9</option>
                                    <option VALUE="10">10</option>
                                </select>
                                <span class="error" ng-show="thisForm.location.$error.required">*</span>
                            </div>
                        </div><br><br>

                         <div class="control-group">
                            <label class="control-label" id="locationCat">Handled questions completely, politely</label>
                            <div class="controls">
                                <select class="form-control" id="scores6"  onclick ="myFunction()" name="questions" ng-model = "log.scores6" required>
                                    <option VALUE ="1">1</option>
                                    <option VALUE="2">2</option>
                                    <option VALUE="3">3</option>
                                    <option VALUE="4">4</option>
                                    <option VALUE="5">5</option>
                                    <option VALUE="6">6</option>
                                    <option VALUE="6">7</option>
                                    <option VALUE="8">8</option>
                                    <option VALUE="9">9</option>
                                    <option VALUE="10">10</option>
                                </select>
                                <span class="error" ng-show="thisForm.location.$error.required">*</span>
                            </div>
                        </div><br><br>


                      
                    <div class="control-group">
                           <!--  <label class="control-label" id="locationCat">Subtotal {{log.total()}}</label> -->

                            <input id= "average" name="average">SUBTOTAL/60 :</input>
                            <div class="controls">



                         <div class="control-group">
                            <label class="control-label" id="category">(Other 40 percent awarded on peer ratings and evaluation of the Executive Summary)</label>
                          </div><br><br>


                            <div class="control-group">
                            <div class="controls">
                                <button type="submit"  value="Submit">Submit Feedback</button>

                                <!-- <p></p><a  ng-disabled="thisForm.$invalid" type ="submit" class="btn btn-primary btn-lg"  >Submit</a></p> -->
                                <p><i><strong>&copy; ASH_EVAL_FORM Team</strong></i></p>
                            </div>
                        </div>

                    </form>
                </div>
              </div>
             </div>
                <!-- /container -->
                <hr>

               <!-- <footer>
                    
                </footer> -->
                <div>
                
            </div>

            </html>

