                <header>
                <p align="top-left"><a href="#/home"><img src="img/can-stock-photo_csp15700588.jpg" title="iLog" class="image-thumbnail" class="img-responsive" alt="Responsive image"></a></p>
                </header>
                <hr>
                <br><br>

            <div class="container-fluid">
                <div class="row">
                   <!-- <div class="col-md-4">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-5">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <p align="left"><a href="#/table" class="btn btn-primary btn-small">Log in</a></p>
                        </div>
                    </div>
                </form>

            </div>-->

            <div class="col-md-8">

                <!-- Main hero unit for a primary marketing message or call to action -->
                <div class="row hero-unit">
                    <p><h1>EVALUATION FORM : PLEASE DO WELL TO FILL</h1></p>
                </div>
                <br>
                    <p><i>Project Presentations Grading – Quantitative Methods – Fall Semester 2014</i></p>
                    <form name="thisForm" class="form-inline" role="form" >

                        <div class="control-group">
                            <label class="control-label" id="category">Group Presenting:</label>
                           <input type="text" class="form-control" ng-model="log.group_name" id="group_name">
                        </div><br><br>

                         <div class="control-group">
                            <label class="control-label" id="category">Assesor:</label>
                           <input type="text" class="form-control" id="student_name" ng-model="log.student_name">
                        </div><br><br>

                         <div class="control-group">
                            <label class="control-label" id="category">Date:</label>
                           <input type="date" class="form-control" id="date" ng-model="log.date">
                        </div><br><br>


                        <div class="control-group">
                            <label class="control-label" id="locationCat">Consistent, professional look: branding</label>
                            <div class="controls">
                                <select class="form-control" id="scores1" name="location" ng-model = "log.scores1" required>
                                    <option VALUE ="1">1</option>
                                    <option VALUE="2">2</option>
                                    <option VALUE="3">3</option>
                                    <option VALUE="4">4</option>
                                    <option VALUE="5">5</option>
                                    <option VALUE="6">6</option>
                                    <option VALUE="6">7</option>
                                    <option VALUE="8">8</option>
                                    <option VALUE="9">9</option>
                                    <option VALUE="10">10</option>
                                </select>
                                <span class="error" ng-show="thisForm.location.$error.required">*</span>
                            </div>
                        </div><br><br>


                         <div class="control-group">
                            <label class="control-label" id="locationCat">Clear Understanding of Problem</label>
                            <div class="controls">
                                <select class="form-control" id="scores1" name="location" ng-model = "log.scores2" required>
                                   <option VALUE ="1">1</option>
                                    <option VALUE="2">2</option>
                                    <option VALUE="3">3</option>
                                    <option VALUE="4">4</option>
                                    <option VALUE="5">5</option>
                                    <option VALUE="6">6</option>
                                    <option VALUE="6">7</option>
                                    <option VALUE="8">8</option>
                                    <option VALUE="9">9</option>
                                    <option VALUE="10">10</option>
                                </select>
                                <span class="error" ng-show="thisForm.location.$error.required">*</span>
                            </div>
                        </div><br><br>

                         <div class="control-group">
                            <label class="control-label" id="locationCat">Appropriate Model and Methods</label>
                            <div class="controls">
                                <select class="form-control" id="scores3"  name="location" ng-model = "log.scores3" required>
                                   <option VALUE ="1">1</option>
                                    <option VALUE="2">2</option>
                                    <option VALUE="3">3</option>
                                    <option VALUE="4">4</option>
                                    <option VALUE="5">5</option>
                                    <option VALUE="6">6</option>
                                    <option VALUE="6">7</option>
                                    <option VALUE="8">8</option>
                                    <option VALUE="9">9</option>
                                    <option VALUE="10">10</option>
                                </select>
                                <span class="error" ng-show="thisForm.location.$error.required">*</span>
                            </div>
                        </div><br><br>


                         <div class="control-group">
                            <label class="control-label" id="locationCat">Presentation of Results/Sensitivity/Limits/Discussion</label>
                            <div class="controls">
                                <select class="form-control" id="scores4"  name="location" ng-model = "log.scores4" required>
                                   <option VALUE ="1">1</option>
                                    <option VALUE="2">2</option>
                                    <option VALUE="3">3</option>
                                    <option VALUE="4">4</option>
                                    <option VALUE="5">5</option>
                                    <option VALUE="6">6</option>
                                    <option VALUE="6">7</option>
                                    <option VALUE="8">8</option>
                                    <option VALUE="9">9</option>
                                    <option VALUE="10">10</option>
                                </select>
                                <span class="error" ng-show="thisForm.location.$error.required">*</span>
                            </div>
                        </div><br><br>


                         <div class="control-group">
                            <label class="control-label" id="locationCat">Kept to Time, distributed the presentation among team</label>
                            <div class="controls">
                                <select class="form-control" id="scores5" ng-model = "log.scores5" required>
                                   <option VALUE ="1">1</option>
                                    <option VALUE="2">2</option>
                                    <option VALUE="3">3</option>
                                    <option VALUE="4">4</option>
                                    <option VALUE="5">5</option>
                                    <option VALUE="6">6</option>
                                    <option VALUE="6">7</option>
                                    <option VALUE="8">8</option>
                                    <option VALUE="9">9</option>
                                    <option VALUE="10">10</option>
                                </select>
                                <span class="error" ng-show="thisForm.location.$error.required">*</span>
                            </div>
                        </div><br><br>

                         <div class="control-group">
                            <label class="control-label" id="locationCat">Handled questions completely, politely</label>
                            <div class="controls">
                                <select class="form-control" id="scores6"  name="location" ng-model = "log.scores6" required>
                                    <option VALUE ="1">1</option>
                                    <option VALUE="2">2</option>
                                    <option VALUE="3">3</option>
                                    <option VALUE="4">4</option>
                                    <option VALUE="5">5</option>
                                    <option VALUE="6">6</option>
                                    <option VALUE="6">7</option>
                                    <option VALUE="8">8</option>
                                    <option VALUE="9">9</option>
                                    <option VALUE="10">10</option>
                                </select>
                                <span class="error" ng-show="thisForm.location.$error.required">*</span>
                            </div>
                        </div><br><br>


                         <div class="control-group">
                            <label class="control-label" id="category">Subtotal:</label>
                           <input type="text" class="form-control" >
                           <p>{{log}}</p>
                        </div><br><br>



                         <div class="control-group">
                            <label class="control-label" id="category">(Other 40 percent awarded on peer ratings and evaluation of the Executive Summary)</label>
                          </div><br><br>







                        <div class="control-group">
                            <div class="controls">
                                <p></p><a href="#/issues" ng-disabled="thisForm.$invalid" class="btn btn-primary btn-lg">Submit</a></p>
                            </div>
                        </div>

                    </form>
                </div>
              </div>
             </div>
                <!-- /container -->
                <hr>

                <footer>
                    <p><i><strong>&copy; ASH_EVAL_FORM Team</strong></i></p>
                </footer>
