<p>This is the partial for view 1.</p>

        <div>
            <label>Name</label><input type="text" ng-model="name">
        </div>

        <div>
            <input type="checkbox" ng-model="checked"><label>Show?</label>
        </div>
        <div ng-show="checked">
            Hello, {{name || "world"}}!
        </div>

<div ng-controller="List">
    <ul>
        <li ng-repeat="name in names" >
            {{name}}
            <!--{{person.name}} : {{person.age}}-->
        </li>
    </ul>
</div>

<!--
<script>
    var List = function($scope) {
        $scope.names = ["Lawson", "Josephine", "Appolonia", "Martha", "Margaret"];/*[
         {name: "Lawson", age: 57},
         {name: "Josephine", age: 54},
         {name: "Appolonia", age: 29},
         {name: "Martha", age: 23},
         {name: "Margaret", age: 23}
         ];*/
    };
</script>
-->
